#rss_content {
   width: 75%;
}

#rss_content a:link, #url_table a:link {
	text-decoration: none;
	color: #686868; /*gray*/
}

#rss_content a:hover, #url_table a:hover {
	color: #1ba5be; /* blueish */
}

#rss_content a:visited, #url_table a:visited {
	color: #7f40c0; /* purplish */
}

/**RSS CONTENTS**/
#datepost {
	color: #f800a6; /*dark pink*/
	font-size: 11px;
}

/**RSS FEED TABLE**/
#even {
   background-color: #ececec; /*light gray-ish*/
}

#odd {
   background-color: #fff4f4; /*light pink-ish*/
}

#siteTitle {
	color: #6c6c6c; /*gray*/
	font-size: 11px;
}

/**SUBSCRIBED URL LIST**/
#url_section {
   position: absolute;
   top: 150px;
   width: 20%;
   right: 10px;
   padding: 10px;
   padding-right: 10px;
/*delete later*/
   border: 1px dotted black;
   font-size: 11px;
}

#url_section span, h4 {
   color: #6c6c6c; /* gray */
}

#url_section span#addcnt {
   background-color: #ececec; /*light gray-ish*/
   font-size: 14px;
}

#url_table {
   width: 100%;
/*text-align: center;*/
   background-color: #fff4f4; /*light pink-ish*/
}
